{{ header }}
<section class="top">
	<div class="homebuilder clearfix ">
		<div class="tm-container container ">
			<div class="tm-inner">

				<div class="row row-level-1 ">
					<div class="row-inner  clearfix">
						<div class="col-lg-18 col-md-18 col-sm-18 col-xs-18 ">
							<div class="col-inner ">
								<div class="swiper-container swiper-slider" data-loop="false" data-autoplay="5000" data-height="991px" data-min-height="350px" data-slide-effect="fade" data-slide-speed="800ms" data-keyboard="false" data-mousewheel="false" data-mousewheel-release="false" style="height: 991px;">

									<div class="swiper-wrapper">

										<div class="swiper-slide slide-1" data-slide-bg="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/slider/slide-1-1970x991.jpg">
											<div class="slide-desc tx-white">
												<h2 data-caption-animate="slideInRight" class="slide-tx">
													`16


												</h2>
												<h2 data-caption-animate="slideInRight" data-caption-delay="100">
													New


												</h2>
												<h2 data-caption-animate="slideInRight" data-caption-delay="200">
													<span>
														Collection


													</span>
												</h2>
												<a href="index.php%3Froute=product%252Fcategory&amp;path=29.html" class="btn" data-caption-animate="slideInUp" data-caption-delay="400">
													Shop Now


												</a>
											</div>

										</div>

										<div class="swiper-slide " data-slide-bg="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/slider/slide-2-1970x991.jpg">
											<div class="slide-desc">
												<h2 data-caption-animate="slideInRight" class="slide-tx">
													`15


												</h2>
												<span data-caption-animate="slideInRight" data-caption-delay="100">
													A Natural Product for Modern Beaury


												</span>
												<h2 data-caption-animate="slideInRight" data-caption-delay="200">
													<span>
														Hot Sellers


													</span>
												</h2>
												<a href="index.php%3Froute=product%252Fcategory&amp;path=20.html" class="btn" data-caption-animate="slideInUp" data-caption-delay="400">
													Shop Now


												</a>
											</div>

										</div>

										<div class="swiper-slide " data-slide-bg="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/slider/slide-3-1970x991.jpg">
											<div class="slide-desc tx-white">
												<h2 data-caption-animate="slideInRight" class="slide-tx">
													`16


												</h2>
												<h2 class="big" data-caption-animate="slideInRight" data-caption-delay="200">
													Introducing


													<br>
													Bite Lipstick.


												</h2>
												<a href="index.php%3Froute=product%252Fcategory&amp;path=25.html" class="btn" data-caption-animate="slideInUp" data-caption-delay="400">
													Shop Now


												</a>
											</div>

										</div>

									</div>

									<div class="swiper-pagination" data-index-bullet="false" data-clickable="true"></div>

								</div>
							</div>
						</div>
						<div class="col-lg-18 col-md-18 col-sm-18 col-xs-18 ">
							<div class="col-inner ">
								<div class="box featured">
									<div class="box-heading">
										<h2>
											Feaured Products


										</h2>
										<div id="nav_featured-0"></div>
									</div>
									<div class="row" data-box-carousel data-carousel-settings="items: 6, space: 30" data-nav-id="featured-0">
										<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-18">
											<div class="product-thumb transition  options ">

												<div class="product-option-wrap">
													<div class="product-options form-horizontal">
														<div class="options">
															<a class="ajax-overlay_close" href='index.php#'></a>
															<h3>
																Available Options


															</h3>
															<div class="form-group hidden">
																<div class="col-sm-8">
																	<input type="text" name="product_id" value="44" class="form-control"/>
																</div>
															</div>

															<div class="form-group required">
																<label class="control-label col-sm-18" for="input-option2902000">
																	Size


																</label>
																<div class="col-sm-18">
																	<select name="option[29]" id="input-option2902000" class="form-control">
																		<option value="">
																			--- Please Select ---


																		</option>

																		<option value="65">
																			1 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$20.00)


																		</option>

																		<option value="66">
																			3.3 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$15.00)


																		</option>

																		<option value="67">
																			8.4 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


																		</option>

																	</select>
																</div>
															</div>

															<button class="btn-primary" type="button" onclick="cart.addPopup($(this), 44);">
																Add to
																                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Cart


															</button>
														</div>
													</div>
												</div>

												<div class="image">
													<div class="sale">
														<span>
															Sale


														</span>
													</div>
													<div class="discount">
														<span>
															-20%


														</span>
													</div>
													<a class="lazy" href="index.php%3Froute=product%252Fproduct&amp;product_id=44.html" style="padding-bottom: 100%">
														<img width="300" height="300" alt="100% Natural Pressed Powder" title="100% Natural Pressed Powder" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-40-300x300.png" src="index.php#"/>
														<img width="300" height="300" alt="100% Natural Pressed Powder" title="100% Natural Pressed Powder" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-42-300x300.png" src="index.php#"/>
													</a>

													<div class="discount">
														<span>
															-20%


														</span>
													</div>

													<button class="btn-primary quickview" type="button" data-rel="details" data-product="44">
														Quick View


													</button>
												</div>
												<div class="caption">
													<div class="name">
														<a href="index.php%3Froute=product%252Fproduct&amp;product_id=44.html">
															100%
															                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Natural Pressed Powder


														</a>
													</div>

													<div class="price">

														<span class="price-new">
															$12.80


														</span>
														<span class="price-old">
															$16.00


														</span>

													</div>

													<div class="cart-button">
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Cart" onclick="ajaxAdd($(this),44);">
															<i class="fl-puppets-market1"></i>
														</button>
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('44');">
															<i class="fa fa-heart-o"></i>
														</button>
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('44');">
															<i class="fa fa-balance-scale"></i>
														</button>
													</div>

												</div>

											</div>
										</div>
										<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-18">
											<div class="product-thumb transition  options ">

												<div class="product-option-wrap">
													<div class="product-options form-horizontal">
														<div class="options">
															<a class="ajax-overlay_close" href='index.php#'></a>
															<h3>
																Available Options


															</h3>
															<div class="form-group hidden">
																<div class="col-sm-8">
																	<input type="text" name="product_id" value="45" class="form-control"/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-sm-18" for="input-option3002001">
																	Size


																</label>
																<div class="col-sm-18">
																	<select name="option[30]" id="input-option3002001" class="form-control">
																		<option value="">
																			--- Please Select ---


																		</option>

																		<option value="68">
																			1 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$20.00)


																		</option>

																		<option value="69">
																			3.3 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$15.00)


																		</option>

																		<option value="70">
																			8.4 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


																		</option>

																	</select>
																</div>
															</div>

															<div class="form-group option-color  required">
																<label class="control-label col-sm-18">
																	Color


																</label>
																<div class="col-sm-18">
																	<div id="input-option3102001">

																		<div class="radio">
																			<label>
																				<input type="radio" name="option[31]" value="94"/>
																				<img width="21" height="21" data-toggle="tooltip" title="black" src="image/cache/catalog/options/black-50x50.png" alt=" +" class="img-thumbnail"/>
																			</label>
																		</div>

																		<div class="radio">
																			<label>
																				<input type="radio" name="option[31]" value="71"/>
																				<img width="21" height="21" data-toggle="tooltip" title="red (+$10.00) " src="image/cache/catalog/options/red-50x50.png" alt=" +$10.00" class="img-thumbnail"/>
																			</label>
																		</div>

																	</div>
																</div>
															</div>

															<button class="btn-primary" type="button" onclick="cart.addPopup($(this), 45);">
																Add to
																                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Cart


															</button>
														</div>
													</div>
												</div>

												<div class="image">
													<div class="sale">
														<span>
															Sale


														</span>
													</div>
													<div class="discount">
														<span>
															-20%


														</span>
													</div>
													<a class="lazy" href="index.php%3Froute=product%252Fproduct&amp;product_id=45.html" style="padding-bottom: 100%">
														<img width="300" height="300" alt="100% Organic Pure Argan Oil" title="100% Organic Pure Argan Oil" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-43-300x300.png" src="index.php#"/>
														<img width="300" height="300" alt="100% Organic Pure Argan Oil" title="100% Organic Pure Argan Oil" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-45-300x300.png" src="index.php#"/>
													</a>

													<div class="discount">
														<span>
															-20%


														</span>
													</div>

													<button class="btn-primary quickview" type="button" data-rel="details" data-product="45">
														Quick View


													</button>
												</div>
												<div class="caption">
													<div class="name">
														<a href="index.php%3Froute=product%252Fproduct&amp;product_id=45.html">
															100%
															                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Organic Pure Argan Oil


														</a>
													</div>

													<div class="price">

														<span class="price-new">
															$24.00


														</span>
														<span class="price-old">
															$30.00


														</span>

													</div>

													<div class="cart-button">
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Cart" onclick="ajaxAdd($(this),45);">
															<i class="fl-puppets-market1"></i>
														</button>
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('45');">
															<i class="fa fa-heart-o"></i>
														</button>
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('45');">
															<i class="fa fa-balance-scale"></i>
														</button>
													</div>

												</div>

											</div>
										</div>
										<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-18">
											<div class="product-thumb transition ">
												<div class="image">
													<div class="sale">
														<span>
															Sale


														</span>
													</div>
													<div class="discount">
														<span>
															-20%


														</span>
													</div>
													<a class="lazy" href="index.php%3Froute=product%252Fproduct&amp;product_id=42.html" style="padding-bottom: 100%">
														<img width="300" height="300" alt="Anti Aging Facial Mud Mask" title="Anti Aging Facial Mud Mask" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-34-300x300.png" src="index.php#"/>
														<img width="300" height="300" alt="Anti Aging Facial Mud Mask" title="Anti Aging Facial Mud Mask" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-36-300x300.png" src="index.php#"/>
													</a>

													<div class="discount">
														<span>
															-20%


														</span>
													</div>

													<button class="btn-primary quickview" type="button" data-rel="details" data-product="42">
														Quick View


													</button>
												</div>
												<div class="caption">
													<div class="name">
														<a href="index.php%3Froute=product%252Fproduct&amp;product_id=42.html">
															Anti
															                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Aging Facial Mud Mask


														</a>
													</div>

													<div class="price">

														<span class="price-new">
															$48.00


														</span>
														<span class="price-old">
															$60.00


														</span>

													</div>

													<div class="cart-button">
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('42');">
															<i class="fl-puppets-market1"></i>
														</button>
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('42');">
															<i class="fa fa-heart-o"></i>
														</button>
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('42');">
															<i class="fa fa-balance-scale"></i>
														</button>
													</div>

												</div>

											</div>
										</div>
										<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-18">
											<div class="product-thumb transition  options ">

												<div class="product-option-wrap">
													<div class="product-options form-horizontal">
														<div class="options">
															<a class="ajax-overlay_close" href='index.php#'></a>
															<h3>
																Available Options


															</h3>
															<div class="form-group hidden">
																<div class="col-sm-8">
																	<input type="text" name="product_id" value="35" class="form-control"/>
																</div>
															</div>

															<div class="form-group required">
																<label class="control-label col-sm-18">
																	Skin Type


																</label>
																<div class="col-sm-18">
																	<div id="input-option1402003">

																		<div class="checkbox">
																			<label>
																				<input type="checkbox" name="option[14][]" value="31"/>
																				Oily
																				                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


																			</label>
																		</div>

																		<div class="checkbox">
																			<label>
																				<input type="checkbox" name="option[14][]" value="32"/>
																				Dry
																				                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$15.00)


																			</label>
																		</div>

																		<div class="checkbox">
																			<label>
																				<input type="checkbox" name="option[14][]" value="33"/>
																				Combination
																				                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


																			</label>
																		</div>

																	</div>
																</div>
															</div>

															<div class="form-group required">
																<label class="control-label col-sm-18" for="input-option1502003">
																	Size


																</label>
																<div class="col-sm-18">
																	<select name="option[15]" id="input-option1502003" class="form-control">
																		<option value="">
																			--- Please Select ---


																		</option>

																		<option value="34">
																			1 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$5.00)


																		</option>

																		<option value="35">
																			3.3 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


																		</option>

																		<option value="36">
																			8.4 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$15.00)


																		</option>

																	</select>
																</div>
															</div>

															<div class="form-group option-color  required">
																<label class="control-label col-sm-18">
																	Color


																</label>
																<div class="col-sm-18">
																	<div id="input-option1602003">

																		<div class="radio">
																			<label>
																				<input type="radio" name="option[16]" value="38"/>
																				<img width="21" height="21" data-toggle="tooltip" title="black (+$15.00) " src="image/cache/catalog/options/black-50x50.png" alt=" +$15.00" class="img-thumbnail"/>
																			</label>
																		</div>

																		<div class="radio">
																			<label>
																				<input type="radio" name="option[16]" value="39"/>
																				<img width="21" height="21" data-toggle="tooltip" title="white (+$20.00) " src="image/cache/catalog/options/white-50x50.png" alt=" +$20.00" class="img-thumbnail"/>
																			</label>
																		</div>

																		<div class="radio">
																			<label>
																				<input type="radio" name="option[16]" value="37"/>
																				<img width="21" height="21" data-toggle="tooltip" title="red (+$10.00) " src="image/cache/catalog/options/red-50x50.png" alt=" +$10.00" class="img-thumbnail"/>
																			</label>
																		</div>

																	</div>
																</div>
															</div>

															<button class="btn-primary" type="button" onclick="cart.addPopup($(this), 35);">
																Add to
																                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Cart


															</button>
														</div>
													</div>
												</div>

												<div class="image">
													<a class="lazy" href="index.php%3Froute=product%252Fproduct&amp;product_id=35.html" style="padding-bottom: 100%">
														<img width="300" height="300" alt="Bearberry Eye Repair Cream " title="Bearberry Eye Repair Cream " class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-22-300x300.png" src="index.php#"/>
														<img width="300" height="300" alt="Bearberry Eye Repair Cream " title="Bearberry Eye Repair Cream " class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-24-300x300.png" src="index.php#"/>
													</a>

													<button class="btn-primary quickview" type="button" data-rel="details" data-product="35">
														Quick View


													</button>
												</div>
												<div class="caption">
													<div class="name">
														<a href="index.php%3Froute=product%252Fproduct&amp;product_id=35.html">
															Bearberry
															                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Eye Repair Cream


														</a>
													</div>

													<div class="rating">

														<span class="fa-stack">
															<i class="fa fa-star star fa-stack-1x"></i>
														</span>

														<span class="fa-stack">
															<i class="fa fa-star star fa-stack-1x"></i>
														</span>

														<span class="fa-stack">
															<i class="fa fa-star star fa-stack-1x"></i>
														</span>

														<span class="fa-stack">
															<i class="fa fa-star star fa-stack-1x"></i>
														</span>

														<span class="fa-stack">
															<i class="fa fa-star-o fa-stack-1x"></i>
														</span>

													</div>

													<div class="price">

														$50.00


													</div>

													<div class="cart-button">
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Cart" onclick="ajaxAdd($(this),35);">
															<i class="fl-puppets-market1"></i>
														</button>
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('35');">
															<i class="fa fa-heart-o"></i>
														</button>
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('35');">
															<i class="fa fa-balance-scale"></i>
														</button>
													</div>

												</div>

											</div>
										</div>
										<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-18">
											<div class="product-thumb transition  options ">

												<div class="product-option-wrap">
													<div class="product-options form-horizontal">
														<div class="options">
															<a class="ajax-overlay_close" href='index.php#'></a>
															<h3>
																Available Options


															</h3>
															<div class="form-group hidden">
																<div class="col-sm-8">
																	<input type="text" name="product_id" value="40" class="form-control"/>
																</div>
															</div>

															<div class="form-group required">
																<label class="control-label col-sm-18" for="input-option1902004">
																	Size


																</label>
																<div class="col-sm-18">
																	<select name="option[19]" id="input-option1902004" class="form-control">
																		<option value="">
																			--- Please Select ---


																		</option>

																		<option value="46">
																			1 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$20.00)


																		</option>

																		<option value="47">
																			3.3 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$15.00)


																		</option>

																		<option value="48">
																			8.4 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


																		</option>

																	</select>
																</div>
															</div>

															<div class="form-group option-color  required">
																<label class="control-label col-sm-18">
																	Color


																</label>
																<div class="col-sm-18">
																	<div id="input-option2002004">

																		<div class="radio">
																			<label>
																				<input type="radio" name="option[20]" value="50"/>
																				<img width="21" height="21" data-toggle="tooltip" title="black (+$20.00) " src="image/cache/catalog/options/black-50x50.png" alt=" +$20.00" class="img-thumbnail"/>
																			</label>
																		</div>

																		<div class="radio">
																			<label>
																				<input type="radio" name="option[20]" value="51"/>
																				<img width="21" height="21" data-toggle="tooltip" title="white (+$15.00) " src="image/cache/catalog/options/white-50x50.png" alt=" +$15.00" class="img-thumbnail"/>
																			</label>
																		</div>

																		<div class="radio">
																			<label>
																				<input type="radio" name="option[20]" value="49"/>
																				<img width="21" height="21" data-toggle="tooltip" title="red (+$10.00) " src="image/cache/catalog/options/red-50x50.png" alt=" +$10.00" class="img-thumbnail"/>
																			</label>
																		</div>

																	</div>
																</div>
															</div>

															<button class="btn-primary" type="button" onclick="cart.addPopup($(this), 40);">
																Add to
																                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Cart


															</button>
														</div>
													</div>
												</div>

												<div class="image">
													<a class="lazy" href="index.php%3Froute=product%252Fproduct&amp;product_id=40.html" style="padding-bottom: 100%">
														<img width="300" height="300" alt="Daily Detangling Shampoo" title="Daily Detangling Shampoo" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-28-300x300.png" src="index.php#"/>
														<img width="300" height="300" alt="Daily Detangling Shampoo" title="Daily Detangling Shampoo" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-30-300x300.png" src="index.php#"/>
													</a>

													<button class="btn-primary quickview" type="button" data-rel="details" data-product="40">
														Quick View


													</button>
												</div>
												<div class="caption">
													<div class="name">
														<a href="index.php%3Froute=product%252Fproduct&amp;product_id=40.html">
															Daily
															                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Detangling Shampoo


														</a>
													</div>

													<div class="price">

														$10.00


													</div>

													<div class="cart-button">
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Cart" onclick="ajaxAdd($(this),40);">
															<i class="fl-puppets-market1"></i>
														</button>
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('40');">
															<i class="fa fa-heart-o"></i>
														</button>
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('40');">
															<i class="fa fa-balance-scale"></i>
														</button>
													</div>

												</div>

											</div>
										</div>
										<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-18">
											<div class="product-thumb transition  options ">

												<div class="product-option-wrap">
													<div class="product-options form-horizontal">
														<div class="options">
															<a class="ajax-overlay_close" href='index.php#'></a>
															<h3>
																Available Options


															</h3>
															<div class="form-group hidden">
																<div class="col-sm-8">
																	<input type="text" name="product_id" value="34" class="form-control"/>
																</div>
															</div>

															<div class="form-group required">
																<label class="control-label col-sm-18" for="input-option1202005">
																	Size


																</label>
																<div class="col-sm-18">
																	<select name="option[12]" id="input-option1202005" class="form-control">
																		<option value="">
																			--- Please Select ---


																		</option>

																		<option value="27">
																			1 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$20.00)


																		</option>

																		<option value="28">
																			3.3 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$15.00)


																		</option>

																		<option value="29">
																			8.4 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


																		</option>

																	</select>
																</div>
															</div>

															<div class="form-group option-color  required">
																<label class="control-label col-sm-18">
																	Color


																</label>
																<div class="col-sm-18">
																	<div id="input-option1302005">

																		<div class="radio">
																			<label>
																				<input type="radio" name="option[13]" value="93"/>
																				<img width="21" height="21" data-toggle="tooltip" title="black" src="image/cache/catalog/options/black-50x50.png" alt=" +" class="img-thumbnail"/>
																			</label>
																		</div>

																		<div class="radio">
																			<label>
																				<input type="radio" name="option[13]" value="30"/>
																				<img width="21" height="21" data-toggle="tooltip" title="red (+$10.00) " src="image/cache/catalog/options/red-50x50.png" alt=" +$10.00" class="img-thumbnail"/>
																			</label>
																		</div>

																	</div>
																</div>
															</div>

															<button class="btn-primary" type="button" onclick="cart.addPopup($(this), 34);">
																Add to
																                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Cart


															</button>
														</div>
													</div>
												</div>

												<div class="image">
													<a class="lazy" href="index.php%3Froute=product%252Fproduct&amp;product_id=34.html" style="padding-bottom: 100%">
														<img width="300" height="300" alt="Liquid Foundation SPF 15" title="Liquid Foundation SPF 15" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-19-300x300.png" src="index.php#"/>
														<img width="300" height="300" alt="Liquid Foundation SPF 15" title="Liquid Foundation SPF 15" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-20-300x300.png" src="index.php#"/>
													</a>

													<button class="btn-primary quickview" type="button" data-rel="details" data-product="34">
														Quick View


													</button>
												</div>
												<div class="caption">
													<div class="name">
														<a href="index.php%3Froute=product%252Fproduct&amp;product_id=34.html">
															Liquid
															                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Foundation SPF 15


														</a>
													</div>

													<div class="rating">

														<span class="fa-stack">
															<i class="fa fa-star star fa-stack-1x"></i>
														</span>

														<span class="fa-stack">
															<i class="fa fa-star star fa-stack-1x"></i>
														</span>

														<span class="fa-stack">
															<i class="fa fa-star star fa-stack-1x"></i>
														</span>

														<span class="fa-stack">
															<i class="fa fa-star-o fa-stack-1x"></i>
														</span>

														<span class="fa-stack">
															<i class="fa fa-star-o fa-stack-1x"></i>
														</span>

													</div>

													<div class="price">

														$25.00


													</div>

													<div class="cart-button">
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Cart" onclick="ajaxAdd($(this),34);">
															<i class="fl-puppets-market1"></i>
														</button>
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('34');">
															<i class="fa fa-heart-o"></i>
														</button>
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('34');">
															<i class="fa fa-balance-scale"></i>
														</button>
													</div>

												</div>

											</div>
										</div>
										<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-18">
											<div class="product-thumb transition  options ">

												<div class="product-option-wrap">
													<div class="product-options form-horizontal">
														<div class="options">
															<a class="ajax-overlay_close" href='index.php#'></a>
															<h3>
																Available Options


															</h3>
															<div class="form-group hidden">
																<div class="col-sm-8">
																	<input type="text" name="product_id" value="47" class="form-control"/>
																</div>
															</div>

															<div class="form-group required">
																<label class="control-label col-sm-18" for="input-option3302006">
																	Size


																</label>
																<div class="col-sm-18">
																	<select name="option[33]" id="input-option3302006" class="form-control">
																		<option value="">
																			--- Please Select ---


																		</option>

																		<option value="75">
																			1 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$20.00)


																		</option>

																		<option value="76">
																			3.3 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$15.00)


																		</option>

																		<option value="77">
																			8.4 fl. Oz
																			                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


																		</option>

																	</select>
																</div>
															</div>

															<div class="form-group option-color  required">
																<label class="control-label col-sm-18">
																	Color


																</label>
																<div class="col-sm-18">
																	<div id="input-option3402006">

																		<div class="radio">
																			<label>
																				<input type="radio" name="option[34]" value="95"/>
																				<img width="21" height="21" data-toggle="tooltip" title="white" src="image/cache/catalog/options/white-50x50.png" alt=" +" class="img-thumbnail"/>
																			</label>
																		</div>

																		<div class="radio">
																			<label>
																				<input type="radio" name="option[34]" value="78"/>
																				<img width="21" height="21" data-toggle="tooltip" title="red (+$10.00) " src="image/cache/catalog/options/red-50x50.png" alt=" +$10.00" class="img-thumbnail"/>
																			</label>
																		</div>

																	</div>
																</div>
															</div>

															<button class="btn-primary" type="button" onclick="cart.addPopup($(this), 47);">
																Add to
																                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Cart


															</button>
														</div>
													</div>
												</div>

												<div class="image">
													<div class="sale">
														<span>
															Sale


														</span>
													</div>
													<div class="discount">
														<span>
															-20%


														</span>
													</div>
													<div class="new-pr">
														<span>
															New


														</span>
													</div>
													<a class="lazy" href="index.php%3Froute=product%252Fproduct&amp;product_id=47.html" style="padding-bottom: 100%">
														<img width="300" height="300" alt="Serumtologie C serum 22" title="Serumtologie C serum 22" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-49-300x300.png" src="index.php#"/>
														<img width="300" height="300" alt="Serumtologie C serum 22" title="Serumtologie C serum 22" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-51-300x300.png" src="index.php#"/>
													</a>

													<div class="discount">
														<span>
															-20%


														</span>
													</div>

													<button class="btn-primary quickview" type="button" data-rel="details" data-product="47">
														Quick View


													</button>
												</div>
												<div class="caption">
													<div class="name">
														<a href="index.php%3Froute=product%252Fproduct&amp;product_id=47.html">
															Serumtologie
															                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        C serum 22


														</a>
													</div>

													<div class="rating">

														<span class="fa-stack">
															<i class="fa fa-star star fa-stack-1x"></i>
														</span>

														<span class="fa-stack">
															<i class="fa fa-star star fa-stack-1x"></i>
														</span>

														<span class="fa-stack">
															<i class="fa fa-star star fa-stack-1x"></i>
														</span>

														<span class="fa-stack">
															<i class="fa fa-star star fa-stack-1x"></i>
														</span>

														<span class="fa-stack">
															<i class="fa fa-star-o fa-stack-1x"></i>
														</span>

													</div>

													<div class="price">

														<span class="price-new">
															$56.00


														</span>
														<span class="price-old">
															$70.00


														</span>

													</div>

													<div class="cart-button">
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Cart" onclick="ajaxAdd($(this),47);">
															<i class="fl-puppets-market1"></i>
														</button>
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('47');">
															<i class="fa fa-heart-o"></i>
														</button>
														<button class="btn-icon" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('47');">
															<i class="fa fa-balance-scale"></i>
														</button>
													</div>

												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-18 col-md-18 col-sm-18 col-xs-18 ">
							<div class="col-inner "></div>
						</div>
						<div class="col-lg-18 col-md-18 col-sm-18 col-xs-18 ">
							<div class="col-inner ">

								<div class="box manufacturer">
									<div class="box-heading">
										<h2>
											Our Brands


										</h2>
									</div>
									<div class="box-content">

										<table class="brand-table">
											<tbody>
												<tr>

													<td>
														<a href="index.php%3Froute=product%252Fmanufacturer%252Finfo&amp;manufacturer_id=194.html">

															<img src="image/catalog/logo/lorac.png" alt="Lorac" class="img-responsive"/>

														</a>
													</td>

													<td>
														<a href="index.php%3Froute=product%252Fmanufacturer%252Finfo&amp;manufacturer_id=200.html">

															<img src="image/catalog/logo/essie.png" alt="Essie" class="img-responsive"/>

														</a>
													</td>

													<td>
														<a href="index.php%3Froute=product%252Fmanufacturer%252Finfo&amp;manufacturer_id=193.html">

															<img src="image/catalog/logo/butter-london.png" alt="Butter London" class="img-responsive"/>

														</a>
													</td>

													<td>
														<a href="index.php%3Froute=product%252Fmanufacturer%252Finfo&amp;manufacturer_id=197.html">

															<img src="image/catalog/logo/cargo.png" alt="Cargo" class="img-responsive"/>

														</a>
													</td>

													<td>
														<a href="index.php%3Froute=product%252Fmanufacturer%252Finfo&amp;manufacturer_id=195.html">

															<img src="image/catalog/logo/janeiredale.png" alt="Jane Iredate" class="img-responsive"/>

														</a>
													</td>

													<td>
														<a href="index.php%3Froute=product%252Fmanufacturer%252Finfo&amp;manufacturer_id=192.html">

															<img src="image/catalog/logo/stila.png" alt="Stila" class="img-responsive"/>

														</a>
													</td>

												</tr>
												<tr>

													<td>
														<a href="index.php%3Froute=product%252Fmanufacturer%252Finfo&amp;manufacturer_id=199.html">

															<img src="image/catalog/logo/blinc.png" alt="Blinc" class="img-responsive"/>

														</a>
													</td>

													<td>
														<a href="index.php%3Froute=product%252Fmanufacturer%252Finfo&amp;manufacturer_id=198.html">

															<img src="image/catalog/logo/korres.png" alt="Korres" class="img-responsive"/>

														</a>
													</td>

													<td>
														<a href="index.php%3Froute=product%252Fmanufacturer%252Finfo&amp;manufacturer_id=201.html">

															<img src="image/catalog/logo/make.png" alt="Make" class="img-responsive"/>

														</a>
													</td>

													<td>
														<a href="index.php%3Froute=product%252Fmanufacturer%252Finfo&amp;manufacturer_id=196.html">

															<img src="image/catalog/logo/balm.png" alt="The Balm" class="img-responsive"/>

														</a>
													</td>

													<td>
														<a href="index.php%3Froute=product%252Fmanufacturer%252Finfo&amp;manufacturer_id=202.html">

															<img src="image/catalog/logo/julep.png" alt="Julep" class="img-responsive"/>

														</a>
													</td>

													<td>
														<a href="index.php%3Froute=product%252Fmanufacturer%252Finfo&amp;manufacturer_id=203.html">

															<img src="image/catalog/logo/tenoverten.png" alt="Tenoverten" class="img-responsive"/>

														</a>
													</td>

												</tr>
											</tbody>
										</table>

										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-18 col-md-18 col-sm-18 col-xs-18 ">
							<div class="col-inner "></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="tm-newsletter-popup" class="newsletter-popup-wrap">
		<div class="newsletter-popup">
			<div class="box-content">
				<h2>
					Newsletter


				</h2>
				<p>
					Sign up to receive emails on new product arrivals, special offers and exclusive events


				</p>
				<form method="post" enctype="multipart/form-data" id="tm-newsletter-popup-form">
					<div class="tm-login-form">
						<label class="control-label" for="input-tm-newsletter-popup-email"></label>
						<input type="text" name="zemez_newsletter_popup_email" value="" placeholder="Your Email Address" id="input-tm-newsletter-popup-email" class="form-control"/>
						<button type="submit" id="tm-newsletter-popup-button" class="newsletter-popup-btn btn">
							Subscribe


						</button>
						<span id="tm-newsletter-popup_error" class="newsletter-error"></span>
						<span id="tm-newsletter-popup_success" class="newsletter-success"></span>
					</div>
				</form>
			</div>
			<a href="index.php#" id="newsletter-popup-close-btn" class="newsletter-popup-close-btn fa fa-times"></a>
		</div>
	</div>

	<script type="text/javascript">
		function getCookie(c_name) {
var search = c_name + "="
var returnvalue = "";
if (document.cookie.length > 0) {
offset = document.cookie.indexOf(search)
if (offset != -1) {
offset += search.length
end = document.cookie.indexOf(";", offset);
if (end == -1) 
end = document.cookie.length;

returnvalue = unescape(document.cookie.substring(offset, end))
}
}
return returnvalue;
}
jQuery(document).ready(function ($) {
var showIt = getCookie('shownewsletter');
var m = 0;
var date = new Date();
date.setTime(date.getTime() + (m * 60 * 1000));
if (showIt == '') {
$('#tm-newsletter-popup').fadeIn(300);
}
$('#newsletter-popup-dont-show').click(function (e) {
e.preventDefault()
document.cookie = 'shownewsletter=true; path=/; expires=' + date.toString();
$('#tm-newsletter-popup').fadeOut(300);
});
$('#newsletter-popup-close-btn').click(function (e) {
e.preventDefault();
document.cookie = 'shownewsletter=false';
$('#tm-newsletter-popup').fadeOut(300);
});
$('#tm-newsletter-popup').submit(function (e) {
e.preventDefault();
var email = $("#input-tm-newsletter-popup-email").val();
var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/igm;
if (emailRegex.test(email)) {
var dataString = 'zemez_newsletter_popup_email=' + email;
$.ajax({
type: "POST",
url: "index.php?route=extension/module/zemez_newsletter_popup/addNewsletter",
data: dataString,
cache: false,
success: function (result) {
if (! result) {
$('#tm-newsletter-popup_error').html('');
$('#tm-newsletter-popup_success').stop(true, true).html('You have successfully subscribed').fadeIn(300).delay(4000).fadeOut(300);
} else {
$('#tm-newsletter-popup_success').html('');
$('#tm-newsletter-popup_error').stop(true, true).html(result).fadeIn(300).delay(4000).fadeOut(300);
}
}
});
} else {
$('#tm-newsletter-popup_success').html('');
$('#tm-newsletter-popup_error').stop(true, true).html('Please enter a valid e-mail!').fadeIn(300).delay(4000).fadeOut(300);
}
});
});
	</script>

</section>
{{ footer }}
