<div class="col-inner ">
	<div class="box featured">
		<div class="box-heading">
			<h2>
				Feaured Products
			</h2>
			<div id="nav_featured-0"></div>
		</div>
		<div class="row" data-box-carousel data-carousel-settings="items: 6, space: 30" data-nav-id="featured-0">
			<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="product-thumb transition  options ">

					<div class="product-option-wrap">
						<div class="product-options form-horizontal">
							<div class="options">
								<a class="ajax-overlay_close" href='index.php#'></a>
								<h3>
									Available Options


								</h3>
								<div class="form-group hidden">
									<div class="col-sm-8">
										<input type="text" name="product_id" value="44" class="form-control"/>
									</div>
								</div>

								<div class="form-group required">
									<label class="control-label col-sm-12" for="input-option2902000">
										Size


									</label>
									<div class="col-sm-12">
										<select name="option[29]" id="input-option2902000" class="form-control">
											<option value="">
												--- Please Select ---


											</option>

											<option value="65">
												1 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$20.00)


											</option>

											<option value="66">
												3.3 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$15.00)


											</option>

											<option value="67">
												8.4 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


											</option>

										</select>
									</div>
								</div>

								<button class="btn-primary" type="button" onclick="cart.addPopup($(this), 44);">
									Add to
																																									                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Cart


								</button>
							</div>
						</div>
					</div>

					<div class="image">
						<div class="sale">
							<span>
								Sale


							</span>
						</div>
						<div class="discount">
							<span>
								-20%


							</span>
						</div>
						<a class="lazy" href="index.php%3Froute=product%252Fproduct&amp;product_id=44.html" style="padding-bottom: 100%">
							<img width="300" height="300" alt="100% Natural Pressed Powder" title="100% Natural Pressed Powder" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-40-300x300.png" src="index.php#"/>
							<img width="300" height="300" alt="100% Natural Pressed Powder" title="100% Natural Pressed Powder" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-42-300x300.png" src="index.php#"/>
						</a>

						<div class="discount">
							<span>
								-20%


							</span>
						</div>

						<button class="btn-primary quickview" type="button" data-rel="details" data-product="44">
							Quick View


						</button>
					</div>
					<div class="caption">
						<div class="name">
							<a href="index.php%3Froute=product%252Fproduct&amp;product_id=44.html">
								100%
																																						                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Natural Pressed Powder


							</a>
						</div>

						<div class="price">

							<span class="price-new">
								$12.80


							</span>
							<span class="price-old">
								$16.00


							</span>

						</div>

						<div class="cart-button">
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Cart" onclick="ajaxAdd($(this),44);">
								<i class="fl-puppets-market1"></i>
							</button>
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('44');">
								<i class="fa fa-heart-o"></i>
							</button>
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('44');">
								<i class="fa fa-balance-scale"></i>
							</button>
						</div>

					</div>

				</div>
			</div>
			<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="product-thumb transition  options ">

					<div class="product-option-wrap">
						<div class="product-options form-horizontal">
							<div class="options">
								<a class="ajax-overlay_close" href='index.php#'></a>
								<h3>
									Available Options


								</h3>
								<div class="form-group hidden">
									<div class="col-sm-8">
										<input type="text" name="product_id" value="45" class="form-control"/>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-12" for="input-option3002001">
										Size


									</label>
									<div class="col-sm-12">
										<select name="option[30]" id="input-option3002001" class="form-control">
											<option value="">
												--- Please Select ---


											</option>

											<option value="68">
												1 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$20.00)


											</option>

											<option value="69">
												3.3 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$15.00)


											</option>

											<option value="70">
												8.4 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


											</option>

										</select>
									</div>
								</div>

								<div class="form-group option-color  required">
									<label class="control-label col-sm-12">
										Color


									</label>
									<div class="col-sm-12">
										<div id="input-option3102001">

											<div class="radio">
												<label>
													<input type="radio" name="option[31]" value="94"/>
													<img width="21" height="21" data-toggle="tooltip" title="black" src="image/cache/catalog/options/black-50x50.png" alt=" +" class="img-thumbnail"/>
												</label>
											</div>

											<div class="radio">
												<label>
													<input type="radio" name="option[31]" value="71"/>
													<img width="21" height="21" data-toggle="tooltip" title="red (+$10.00) " src="image/cache/catalog/options/red-50x50.png" alt=" +$10.00" class="img-thumbnail"/>
												</label>
											</div>

										</div>
									</div>
								</div>

								<button class="btn-primary" type="button" onclick="cart.addPopup($(this), 45);">
									Add to
																																									                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Cart


								</button>
							</div>
						</div>
					</div>

					<div class="image">
						<div class="sale">
							<span>
								Sale


							</span>
						</div>
						<div class="discount">
							<span>
								-20%


							</span>
						</div>
						<a class="lazy" href="index.php%3Froute=product%252Fproduct&amp;product_id=45.html" style="padding-bottom: 100%">
							<img width="300" height="300" alt="100% Organic Pure Argan Oil" title="100% Organic Pure Argan Oil" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-43-300x300.png" src="index.php#"/>
							<img width="300" height="300" alt="100% Organic Pure Argan Oil" title="100% Organic Pure Argan Oil" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-45-300x300.png" src="index.php#"/>
						</a>

						<div class="discount">
							<span>
								-20%


							</span>
						</div>

						<button class="btn-primary quickview" type="button" data-rel="details" data-product="45">
							Quick View


						</button>
					</div>
					<div class="caption">
						<div class="name">
							<a href="index.php%3Froute=product%252Fproduct&amp;product_id=45.html">
								100%
																																						                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Organic Pure Argan Oil


							</a>
						</div>

						<div class="price">

							<span class="price-new">
								$24.00


							</span>
							<span class="price-old">
								$30.00


							</span>

						</div>

						<div class="cart-button">
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Cart" onclick="ajaxAdd($(this),45);">
								<i class="fl-puppets-market1"></i>
							</button>
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('45');">
								<i class="fa fa-heart-o"></i>
							</button>
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('45');">
								<i class="fa fa-balance-scale"></i>
							</button>
						</div>

					</div>

				</div>
			</div>
			<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="product-thumb transition ">
					<div class="image">
						<div class="sale">
							<span>
								Sale


							</span>
						</div>
						<div class="discount">
							<span>
								-20%


							</span>
						</div>
						<a class="lazy" href="index.php%3Froute=product%252Fproduct&amp;product_id=42.html" style="padding-bottom: 100%">
							<img width="300" height="300" alt="Anti Aging Facial Mud Mask" title="Anti Aging Facial Mud Mask" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-34-300x300.png" src="index.php#"/>
							<img width="300" height="300" alt="Anti Aging Facial Mud Mask" title="Anti Aging Facial Mud Mask" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-36-300x300.png" src="index.php#"/>
						</a>

						<div class="discount">
							<span>
								-20%


							</span>
						</div>

						<button class="btn-primary quickview" type="button" data-rel="details" data-product="42">
							Quick View


						</button>
					</div>
					<div class="caption">
						<div class="name">
							<a href="index.php%3Froute=product%252Fproduct&amp;product_id=42.html">
								Anti
																																						                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Aging Facial Mud Mask


							</a>
						</div>

						<div class="price">

							<span class="price-new">
								$48.00


							</span>
							<span class="price-old">
								$60.00


							</span>

						</div>

						<div class="cart-button">
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('42');">
								<i class="fl-puppets-market1"></i>
							</button>
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('42');">
								<i class="fa fa-heart-o"></i>
							</button>
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('42');">
								<i class="fa fa-balance-scale"></i>
							</button>
						</div>

					</div>

				</div>
			</div>
			<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="product-thumb transition  options ">

					<div class="product-option-wrap">
						<div class="product-options form-horizontal">
							<div class="options">
								<a class="ajax-overlay_close" href='index.php#'></a>
								<h3>
									Available Options


								</h3>
								<div class="form-group hidden">
									<div class="col-sm-8">
										<input type="text" name="product_id" value="35" class="form-control"/>
									</div>
								</div>

								<div class="form-group required">
									<label class="control-label col-sm-12">
										Skin Type


									</label>
									<div class="col-sm-12">
										<div id="input-option1402003">

											<div class="checkbox">
												<label>
													<input type="checkbox" name="option[14][]" value="31"/>
													Oily
																																																					                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


												</label>
											</div>

											<div class="checkbox">
												<label>
													<input type="checkbox" name="option[14][]" value="32"/>
													Dry
																																																					                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$15.00)


												</label>
											</div>

											<div class="checkbox">
												<label>
													<input type="checkbox" name="option[14][]" value="33"/>
													Combination
																																																					                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


												</label>
											</div>

										</div>
									</div>
								</div>

								<div class="form-group required">
									<label class="control-label col-sm-12" for="input-option1502003">
										Size


									</label>
									<div class="col-sm-12">
										<select name="option[15]" id="input-option1502003" class="form-control">
											<option value="">
												--- Please Select ---


											</option>

											<option value="34">
												1 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$5.00)


											</option>

											<option value="35">
												3.3 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


											</option>

											<option value="36">
												8.4 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$15.00)


											</option>

										</select>
									</div>
								</div>

								<div class="form-group option-color  required">
									<label class="control-label col-sm-12">
										Color


									</label>
									<div class="col-sm-12">
										<div id="input-option1602003">

											<div class="radio">
												<label>
													<input type="radio" name="option[16]" value="38"/>
													<img width="21" height="21" data-toggle="tooltip" title="black (+$15.00) " src="image/cache/catalog/options/black-50x50.png" alt=" +$15.00" class="img-thumbnail"/>
												</label>
											</div>

											<div class="radio">
												<label>
													<input type="radio" name="option[16]" value="39"/>
													<img width="21" height="21" data-toggle="tooltip" title="white (+$20.00) " src="image/cache/catalog/options/white-50x50.png" alt=" +$20.00" class="img-thumbnail"/>
												</label>
											</div>

											<div class="radio">
												<label>
													<input type="radio" name="option[16]" value="37"/>
													<img width="21" height="21" data-toggle="tooltip" title="red (+$10.00) " src="image/cache/catalog/options/red-50x50.png" alt=" +$10.00" class="img-thumbnail"/>
												</label>
											</div>

										</div>
									</div>
								</div>

								<button class="btn-primary" type="button" onclick="cart.addPopup($(this), 35);">
									Add to
																																									                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Cart


								</button>
							</div>
						</div>
					</div>

					<div class="image">
						<a class="lazy" href="index.php%3Froute=product%252Fproduct&amp;product_id=35.html" style="padding-bottom: 100%">
							<img width="300" height="300" alt="Bearberry Eye Repair Cream " title="Bearberry Eye Repair Cream " class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-22-300x300.png" src="index.php#"/>
							<img width="300" height="300" alt="Bearberry Eye Repair Cream " title="Bearberry Eye Repair Cream " class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-24-300x300.png" src="index.php#"/>
						</a>

						<button class="btn-primary quickview" type="button" data-rel="details" data-product="35">
							Quick View


						</button>
					</div>
					<div class="caption">
						<div class="name">
							<a href="index.php%3Froute=product%252Fproduct&amp;product_id=35.html">
								Bearberry
																																						                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Eye Repair Cream


							</a>
						</div>

						<div class="rating">

							<span class="fa-stack">
								<i class="fa fa-star star fa-stack-1x"></i>
							</span>

							<span class="fa-stack">
								<i class="fa fa-star star fa-stack-1x"></i>
							</span>

							<span class="fa-stack">
								<i class="fa fa-star star fa-stack-1x"></i>
							</span>

							<span class="fa-stack">
								<i class="fa fa-star star fa-stack-1x"></i>
							</span>

							<span class="fa-stack">
								<i class="fa fa-star-o fa-stack-1x"></i>
							</span>

						</div>

						<div class="price">

							$50.00


						</div>

						<div class="cart-button">
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Cart" onclick="ajaxAdd($(this),35);">
								<i class="fl-puppets-market1"></i>
							</button>
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('35');">
								<i class="fa fa-heart-o"></i>
							</button>
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('35');">
								<i class="fa fa-balance-scale"></i>
							</button>
						</div>

					</div>

				</div>
			</div>
			<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="product-thumb transition  options ">

					<div class="product-option-wrap">
						<div class="product-options form-horizontal">
							<div class="options">
								<a class="ajax-overlay_close" href='index.php#'></a>
								<h3>
									Available Options


								</h3>
								<div class="form-group hidden">
									<div class="col-sm-8">
										<input type="text" name="product_id" value="40" class="form-control"/>
									</div>
								</div>

								<div class="form-group required">
									<label class="control-label col-sm-12" for="input-option1902004">
										Size


									</label>
									<div class="col-sm-12">
										<select name="option[19]" id="input-option1902004" class="form-control">
											<option value="">
												--- Please Select ---


											</option>

											<option value="46">
												1 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$20.00)


											</option>

											<option value="47">
												3.3 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$15.00)


											</option>

											<option value="48">
												8.4 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


											</option>

										</select>
									</div>
								</div>

								<div class="form-group option-color  required">
									<label class="control-label col-sm-12">
										Color


									</label>
									<div class="col-sm-12">
										<div id="input-option2002004">

											<div class="radio">
												<label>
													<input type="radio" name="option[20]" value="50"/>
													<img width="21" height="21" data-toggle="tooltip" title="black (+$20.00) " src="image/cache/catalog/options/black-50x50.png" alt=" +$20.00" class="img-thumbnail"/>
												</label>
											</div>

											<div class="radio">
												<label>
													<input type="radio" name="option[20]" value="51"/>
													<img width="21" height="21" data-toggle="tooltip" title="white (+$15.00) " src="image/cache/catalog/options/white-50x50.png" alt=" +$15.00" class="img-thumbnail"/>
												</label>
											</div>

											<div class="radio">
												<label>
													<input type="radio" name="option[20]" value="49"/>
													<img width="21" height="21" data-toggle="tooltip" title="red (+$10.00) " src="image/cache/catalog/options/red-50x50.png" alt=" +$10.00" class="img-thumbnail"/>
												</label>
											</div>

										</div>
									</div>
								</div>

								<button class="btn-primary" type="button" onclick="cart.addPopup($(this), 40);">
									Add to
																																									                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Cart


								</button>
							</div>
						</div>
					</div>

					<div class="image">
						<a class="lazy" href="index.php%3Froute=product%252Fproduct&amp;product_id=40.html" style="padding-bottom: 100%">
							<img width="300" height="300" alt="Daily Detangling Shampoo" title="Daily Detangling Shampoo" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-28-300x300.png" src="index.php#"/>
							<img width="300" height="300" alt="Daily Detangling Shampoo" title="Daily Detangling Shampoo" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-30-300x300.png" src="index.php#"/>
						</a>

						<button class="btn-primary quickview" type="button" data-rel="details" data-product="40">
							Quick View


						</button>
					</div>
					<div class="caption">
						<div class="name">
							<a href="index.php%3Froute=product%252Fproduct&amp;product_id=40.html">
								Daily
																																						                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Detangling Shampoo


							</a>
						</div>

						<div class="price">

							$10.00


						</div>

						<div class="cart-button">
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Cart" onclick="ajaxAdd($(this),40);">
								<i class="fl-puppets-market1"></i>
							</button>
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('40');">
								<i class="fa fa-heart-o"></i>
							</button>
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('40');">
								<i class="fa fa-balance-scale"></i>
							</button>
						</div>

					</div>

				</div>
			</div>
			<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="product-thumb transition  options ">

					<div class="product-option-wrap">
						<div class="product-options form-horizontal">
							<div class="options">
								<a class="ajax-overlay_close" href='index.php#'></a>
								<h3>
									Available Options


								</h3>
								<div class="form-group hidden">
									<div class="col-sm-8">
										<input type="text" name="product_id" value="34" class="form-control"/>
									</div>
								</div>

								<div class="form-group required">
									<label class="control-label col-sm-12" for="input-option1202005">
										Size


									</label>
									<div class="col-sm-12">
										<select name="option[12]" id="input-option1202005" class="form-control">
											<option value="">
												--- Please Select ---


											</option>

											<option value="27">
												1 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$20.00)


											</option>

											<option value="28">
												3.3 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$15.00)


											</option>

											<option value="29">
												8.4 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


											</option>

										</select>
									</div>
								</div>

								<div class="form-group option-color  required">
									<label class="control-label col-sm-12">
										Color


									</label>
									<div class="col-sm-12">
										<div id="input-option1302005">

											<div class="radio">
												<label>
													<input type="radio" name="option[13]" value="93"/>
													<img width="21" height="21" data-toggle="tooltip" title="black" src="image/cache/catalog/options/black-50x50.png" alt=" +" class="img-thumbnail"/>
												</label>
											</div>

											<div class="radio">
												<label>
													<input type="radio" name="option[13]" value="30"/>
													<img width="21" height="21" data-toggle="tooltip" title="red (+$10.00) " src="image/cache/catalog/options/red-50x50.png" alt=" +$10.00" class="img-thumbnail"/>
												</label>
											</div>

										</div>
									</div>
								</div>

								<button class="btn-primary" type="button" onclick="cart.addPopup($(this), 34);">
									Add to
																																									                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Cart


								</button>
							</div>
						</div>
					</div>

					<div class="image">
						<a class="lazy" href="index.php%3Froute=product%252Fproduct&amp;product_id=34.html" style="padding-bottom: 100%">
							<img width="300" height="300" alt="Liquid Foundation SPF 15" title="Liquid Foundation SPF 15" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-19-300x300.png" src="index.php#"/>
							<img width="300" height="300" alt="Liquid Foundation SPF 15" title="Liquid Foundation SPF 15" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-20-300x300.png" src="index.php#"/>
						</a>

						<button class="btn-primary quickview" type="button" data-rel="details" data-product="34">
							Quick View


						</button>
					</div>
					<div class="caption">
						<div class="name">
							<a href="index.php%3Froute=product%252Fproduct&amp;product_id=34.html">
								Liquid
																																						                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Foundation SPF 15


							</a>
						</div>

						<div class="rating">

							<span class="fa-stack">
								<i class="fa fa-star star fa-stack-1x"></i>
							</span>

							<span class="fa-stack">
								<i class="fa fa-star star fa-stack-1x"></i>
							</span>

							<span class="fa-stack">
								<i class="fa fa-star star fa-stack-1x"></i>
							</span>

							<span class="fa-stack">
								<i class="fa fa-star-o fa-stack-1x"></i>
							</span>

							<span class="fa-stack">
								<i class="fa fa-star-o fa-stack-1x"></i>
							</span>

						</div>

						<div class="price">

							$25.00


						</div>

						<div class="cart-button">
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Cart" onclick="ajaxAdd($(this),34);">
								<i class="fl-puppets-market1"></i>
							</button>
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('34');">
								<i class="fa fa-heart-o"></i>
							</button>
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('34');">
								<i class="fa fa-balance-scale"></i>
							</button>
						</div>

					</div>

				</div>
			</div>
			<div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="product-thumb transition  options ">

					<div class="product-option-wrap">
						<div class="product-options form-horizontal">
							<div class="options">
								<a class="ajax-overlay_close" href='index.php#'></a>
								<h3>
									Available Options


								</h3>
								<div class="form-group hidden">
									<div class="col-sm-8">
										<input type="text" name="product_id" value="47" class="form-control"/>
									</div>
								</div>

								<div class="form-group required">
									<label class="control-label col-sm-12" for="input-option3302006">
										Size


									</label>
									<div class="col-sm-12">
										<select name="option[33]" id="input-option3302006" class="form-control">
											<option value="">
												--- Please Select ---


											</option>

											<option value="75">
												1 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$20.00)


											</option>

											<option value="76">
												3.3 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$15.00)


											</option>

											<option value="77">
												8.4 fl. Oz
																																																		                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (+$10.00)


											</option>

										</select>
									</div>
								</div>

								<div class="form-group option-color  required">
									<label class="control-label col-sm-12">
										Color


									</label>
									<div class="col-sm-12">
										<div id="input-option3402006">

											<div class="radio">
												<label>
													<input type="radio" name="option[34]" value="95"/>
													<img width="21" height="21" data-toggle="tooltip" title="white" src="image/cache/catalog/options/white-50x50.png" alt=" +" class="img-thumbnail"/>
												</label>
											</div>

											<div class="radio">
												<label>
													<input type="radio" name="option[34]" value="78"/>
													<img width="21" height="21" data-toggle="tooltip" title="red (+$10.00) " src="image/cache/catalog/options/red-50x50.png" alt=" +$10.00" class="img-thumbnail"/>
												</label>
											</div>

										</div>
									</div>
								</div>

								<button class="btn-primary" type="button" onclick="cart.addPopup($(this), 47);">
									Add to
																																									                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Cart


								</button>
							</div>
						</div>
					</div>

					<div class="image">
						<div class="sale">
							<span>
								Sale


							</span>
						</div>
						<div class="discount">
							<span>
								-20%


							</span>
						</div>
						<div class="new-pr">
							<span>
								New


							</span>
						</div>
						<a class="lazy" href="index.php%3Froute=product%252Fproduct&amp;product_id=47.html" style="padding-bottom: 100%">
							<img width="300" height="300" alt="Serumtologie C serum 22" title="Serumtologie C serum 22" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-49-300x300.png" src="index.php#"/>
							<img width="300" height="300" alt="Serumtologie C serum 22" title="Serumtologie C serum 22" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/products/product-51-300x300.png" src="index.php#"/>
						</a>

						<div class="discount">
							<span>
								-20%


							</span>
						</div>

						<button class="btn-primary quickview" type="button" data-rel="details" data-product="47">
							Quick View


						</button>
					</div>
					<div class="caption">
						<div class="name">
							<a href="index.php%3Froute=product%252Fproduct&amp;product_id=47.html">
								Serumtologie
																																						                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        C serum 22


							</a>
						</div>

						<div class="rating">

							<span class="fa-stack">
								<i class="fa fa-star star fa-stack-1x"></i>
							</span>

							<span class="fa-stack">
								<i class="fa fa-star star fa-stack-1x"></i>
							</span>

							<span class="fa-stack">
								<i class="fa fa-star star fa-stack-1x"></i>
							</span>

							<span class="fa-stack">
								<i class="fa fa-star star fa-stack-1x"></i>
							</span>

							<span class="fa-stack">
								<i class="fa fa-star-o fa-stack-1x"></i>
							</span>

						</div>

						<div class="price">

							<span class="price-new">
								$56.00


							</span>
							<span class="price-old">
								$70.00


							</span>

						</div>

						<div class="cart-button">
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Cart" onclick="ajaxAdd($(this),47);">
								<i class="fl-puppets-market1"></i>
							</button>
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Add to Wish List" onclick="wishlist.add('47');">
								<i class="fa fa-heart-o"></i>
							</button>
							<button class="btn-icon" type="button" data-toggle="tooltip" title="Compare this Product" onclick="compare.add('47');">
								<i class="fa fa-balance-scale"></i>
							</button>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
