<div class="col-inner">
	<div class="swiper-container swiper-slider" data-loop="false" data-autoplay="5000" data-height="991px" data-min-height="350px" data-slide-effect="fade" data-slide-speed="800ms" data-keyboard="false" data-mousewheel="false" data-mousewheel-release="false" style="height: 991px;">
		<div class="swiper-wrapper">
			<div class="swiper-slide slide-1" data-slide-bg="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/slider/slide-1-1970x991.jpg">
				<div class="slide-desc tx-white">
					<h2 data-caption-animate="slideInRight" class="slide-tx">
						`16
					</h2>
					<h2 data-caption-animate="slideInRight" data-caption-delay="100">
						New
					</h2>
					<h2 data-caption-animate="slideInRight" data-caption-delay="200">
						<span>
							Collection
						</span>
					</h2>
					<a href="index.php%3Froute=product%252Fcategory&amp;path=29.html" class="btn" data-caption-animate="slideInUp" data-caption-delay="400">
						Shop Now
					</a>
				</div>
			</div>
			<div class="swiper-slide " data-slide-bg="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/slider/slide-2-1970x991.jpg">
				<div class="slide-desc">
					<h2 data-caption-animate="slideInRight" class="slide-tx">
						`15
					</h2>
					<span data-caption-animate="slideInRight" data-caption-delay="100">
						A Natural Product for Modern Beaury
					</span>
					<h2 data-caption-animate="slideInRight" data-caption-delay="200">
						<span>
							Hot Sellers
						</span>
					</h2>
					<a href="index.php%3Froute=product%252Fcategory&amp;path=20.html" class="btn" data-caption-animate="slideInUp" data-caption-delay="400">
						Shop Now
					</a>
				</div>
			</div>
			<div class="swiper-slide " data-slide-bg="https://livedemo00-opencart.template-help.com/opencart_prod-23519/image/cache/catalog/slider/slide-3-1970x991.jpg">
				<div class="slide-desc tx-white">
					<h2 data-caption-animate="slideInRight" class="slide-tx">
						`16
					</h2>
					<h2 class="big" data-caption-animate="slideInRight" data-caption-delay="200">
						Introducing
						<br>
						Bite Lipstick.
					</h2>
					<a href="index.php%3Froute=product%252Fcategory&amp;path=25.html" class="btn" data-caption-animate="slideInUp" data-caption-delay="400">
						Shop Now
					</a>
				</div>
			</div>
		</div>
		<div class="swiper-pagination" data-index-bullet="false" data-clickable="true"></div>
	</div>
</div>
